*{
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    margin: 45%;
}

h1{
    text-align: center;
}

h4{
    font-style: italic;
}
